backoff>=2.2.1
beautifulsoup4>=4.13.4
fastparquet>=2024.11.0
httpx>=0.28.1
jupyter>=1.1.1
matplotlib>=3.10.5
pandas>=2.3.2
plotly>=6.7.0
psycopg2>=2.9.10
pyarrow>=21.0.0
pydantic>=2.13.4
python-dotenv>=1.1.1
quantstats>=0.0.76
requests>=2.32.5
selenium>=4.35.0
streamlit>=1.57.0
tqdm>=4.67.1
seaborn>=0.13.0
